<!-- index.html -->

{% extends 'base.html' %} {% block content %}
{% load static %}
{% csrf_token %}

<div x-data="modelData">
    <div>{% include 'top-bar.html' %}</div>
    <div>{% include 'model-card.html'%}</div>
</div>

{{ model_list | json_script:"model_list" }}

<script src="{% static 'js/ollamoma.js' %}"></script>

<footer>
    <div class="flex justify-center mt-2 text-center">
        <div id="ollama_status">OLLAMA STATUS:</div>
        <img class="ml-1 w-6 h-6" src="{% static 'icons/power.svg' %}" alt="status">
    </div>
</footer>
<script>
let failed = false; 
document.getElementById('ollama_status').style.color =  'green';
document.getElementById('ollama_status').innerText = 'OLLAMA STATUS: Ollama is running';
function getStatus(){
    fetch('get-status/').then(response => response.json()).then(data => {
        if (failed) {
            failed = false;
            window.location.reload();
        }
        document.getElementById('ollama_status').style.color = data.status === 'Ollama is running' ? 'green' : 'red';
        document.getElementById('ollama_status').innerText = 'OLLAMA STATUS: ' + data.status;
    }).catch(err => {
        failed = true;
        document.getElementById('ollama_status').style.color = 'red';
        document.getElementById('ollama_status').innerText = 'OLLAMA STATUS: Ollama is not running';
    });
}

setInterval(() => {
    getStatus();
}, 5000);
</script>


{% endblock %}

