<div class="px-2 bg-gray-100">
    <div class="flex flex-wrap">
        <div class="w-1/2 mb-2 pl-2 py-1 md:w-1/2 xl:w-1/3 hover:bg-gray-200 rounded cursor-pointer" @click="navigator.clipboard.writeText(model.model)">
            <div class="text-sm text-gray-400">Model Name:</div>
            <div class="text-black text-lg" x-text="model.model"></div>
        </div>
        <div class="w-1/2 mb-2 pl-2 py-1 md:w-1/2 xl:w-1/3 hover:bg-gray-200 rounded cursor-pointer" @click="navigator.clipboard.writeText(model.details.parameter_size)">
            <div class="text-sm text-gray-400">Parameter Size:</div>
            <div class="text-black text-lg" x-text="model.details.parameter_size"></div>
        </div>
        <div class="w-1/2 mb-2 pl-2 py-1 md:w-1/2 xl:w-1/3 hover:bg-gray-200 rounded cursor-pointer" @click="navigator.clipboard.writeText(formatSize(model.size))">
            <div class="text-sm text-gray-400">File Size:</div>
            <div class="text-black text-lg" x-text="formatSize(model.size)"></div>
        </div>
        <div class="w-1/2 mb-2 pl-2 py-1 md:w-1/2 xl:w-1/3 hover:bg-gray-200 rounded cursor-pointer" @click="navigator.clipboard.writeText(model.details.quantization_level)">
            <div class="text-sm text-gray-400">Quantization Level:</div>
            <div class="text-black text-lg" x-text="model.details.quantization_level"></div>
        </div>
        <div class="w-1/2 mb-2 pl-2 py-1 md:w-1/2 xl:w-1/3 hover:bg-gray-200 rounded cursor-pointer" @click="navigator.clipboard.writeText(model.details.family)">
            <div class="text-sm text-gray-400">Model Family:</div>
            <div class="text-black text-lg" x-text="model.details.family"></div>
        </div>
        <div class="w-1/2 mb-2 pl-2 py-1 md:w-1/2 xl:w-1/3 hover:bg-gray-200 rounded cursor-pointer" @click="navigator.clipboard.writeText(formatDate(model.modified_at))">
            <div class="text-sm text-gray-400">Last Modified:</div>
            <div class="text-black text-lg" x-text="formatDate(model.modified_at)"></div>
        </div>
    </div>
</div>