{% load format_size %} {% load format_date %}

<div class="px-3 pb-2 bg-white">
    <div class="flex flex-wrap">
        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
            <div class="text-xs text-slate-400">Model Name:</div>
            <div class="text-black text-basis">{{ model.model }}</div>
        </div>
        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
            <div class="text-xs text-slate-400">Parameter Size:</div>
            <div class="text-black text-basis">{{ model.details.parameter_size }}</div>
        </div>
        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
            <div class="text-xs text-slate-400">File Size:</div>
            <div class="text-black text-basis">{{ model.size | format_size }}</div>
        </div>
        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
            <div class="text-xs text-slate-400">Quantization Level:</div>
            <div class="text-black text-basis">{{ model.details.quantization_level }}</div>
        </div>
        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
            <div class="text-xs text-slate-400">Model Family:</div>
            <div class="text-black text-basis">{{ model.details.family }}</div>
        </div>
        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
            <div class="text-xs text-slate-400">Last Modified:</div>
            <div class="text-black text-basis">{{ model.modified_at | format_date }}</div>
        </div>
    </div>
</div>
