<div class="px-2 pt-2 pb-1">
    <textarea 
        x-data="textareaData()"
        rows="8" 
        class="w-full p-2 transition duration-500 ease-in-out rounded-lg resize-none text-slate-400 bg-slate-100 hover:bg-slate-200 focus:bg-slate-200 focus:outline-none focus:text-slate-800"
        :id="$id('textarea-' + counter)"
        :name="$id('textarea-' + counter)"
    >hi</textarea>
</div>

<script>
    function textareaData() {
        return {
            counter: 0,
        }
    }
</script>
