<div class="flex ">
    {% comment %} <div class="pr-2">
        <div class="bg-gray-100 rounded-xl shadow-md mb-1">
            <button class="px-2 py-3 rounded-xl btn-ghost">MENU</button>
        </div> 
    </div>  {% endcomment %}
    <div x-data="" x-cloak class="flex items-center w-full gap-2 pl-2 text-gray-800 transition ease-in-out bg-gray-100 shadow-md input hover:shadow-xl duration-600 rounded-xl">
        <input type="text" class="grow" placeholder="Search" x-model="searchNeedle" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
    </div>
</div>