<div>
    <div class="flex">
        {% comment %} <div class="mr-1 transition duration-500 ease-in-out shadow-md rounded-xl hover:shadow-xl">
            <div class="font-medium text-black bg-gray-100 rounded-xl">
                <button class="px-2 rounded-xl btn-ghost btn-md">MENU</button>
            </div> 
        </div> {% endcomment %}
        <div class="mr-1 w-full transition duration-500 ease-in-out shadow-md rounded-xl hover:shadow-xl">
            <div x-data="" x-cloak class="flex !outline-none items-center pl-4 text-black bg-gray-100 input rounded-xl">
                <input type="text" class="grow" :placeholder="`Search ${modelList.length} model${modelList.length === 1?'':'s'}`" x-model="searchNeedle"/>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="w-6 h-6 opacity-70" x-show="!searchNeedle" x-cloak viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="w-6 h-6 opacity-70 hover:bg-gray-200 cursor-pointer rounded-full" x-show="searchNeedle" x-cloak @click="searchNeedle = ''" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            </div>
        </div>
        <div class="transition duration-500 ease-in-out shadow-md rounded-xl hover:shadow-xl">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn-md btn-ghost rounded-xl p-3 font-medium text-black bg-gray-100">SORT</div>
                <ul tabindex="0" class="dropdown-content z-[3] mt-1 menu shadow text-gray-800 bg-gray-100 rounded-box w-36">
                    <div class="form-control">
                        <label class="label cursor-pointer">
                            <span class="label-text">model name</span> 
                            <input type="radio" name="filter" class="radio" @click="sort('name')" checked />
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="label cursor-pointer">
                            <span class="label-text">file size</span> 
                            <input type="radio" name="filter" class="radio" @click="sort('filesize')"/>
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="label cursor-pointer">
                            <span class="label-text">parameter size</span>
                            <input type="radio" name="filter" class="radio" @click="sort('paramsize')"/>
                        </label>
                    </div>
                    <div class="form-control">
                        <label class="label cursor-pointer">
                            <span class="label-text">last modified</span>
                            <input type="radio" name="filter" class="radio" @click="sort('lastmod')"/>
                        </label>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
